<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/2b2ce65092.js" crossorigin="anonymous"></script>
        <title>LogIn</title>
        <!--My CSS-->
        <!-- <link rel="stylesheet" href="/css/styleLogin.css"> -->
        <link rel="stylesheet" href="/css/styleProduct.css">
    </head>

<body>

<!--inicio de header LOGO HAPPY CODING-->

<div class="logo">
    <a href="/">
    <img src="/images/Logo-PNG1.png"> </a>
</div>

<!-- BOTONES -->
  <div class="">
        <!-- enctype="multipart/form-data" -->
        <form action="/product/edit/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="">
                <div class="">
                    <label for="name" class="form-label">Nombre del producto:</label>
                    <input value="<%= productToEdit.name %>" type="text" id="name" name="name" placeholder="" class="form-input">
                </div>
                <div class="">
                    <label for="price" class="form-label">Precio del producto:</label>
                    <input value="<%= productToEdit.price %>" type="number" id="price" name="price" placeholder="" class="form-input">
                </div>

                <div class="">
                    <label for="category" class="form-label">Categoría:</label>
                    <br>
                    <select name="category" id="category" class="form-input" autofocus="<%= productToEdit.id_categorie %>">
                        
                        <option value="">Elegir</option>

                        <!-- COMPARADOR PARA REALZIAR EL CAMBIO EN LA LISTA DESPLEGABLE -->
                        <option value="1"
                            <%if (productToEdit.id_categorie==1){ %>
                            <%= "selected" %>
                            <% } %>
                        >T-shirt</option>

                        <!-- COMPARADOR PARA REALZIAR EL CAMBIO EN LA LISTA DESPLEGABLE -->
                        <option value="2" 
                            <%if (productToEdit.id_categorie==2){ %>
                            <%= "selected" %>
                            <% } %>
                        >Socks</option>

                         <!-- COMPARADOR PARA REALZIAR EL CAMBIO EN LA LISTA DESPLEGABLE -->
                        <option value="3"
                            <%if (productToEdit.id_categorie==3){ %>
                            <%= "selected" %>
                            <% } %>
                        >Bags</option>

                        <!-- COMPARADOR PARA REALZIAR EL CAMBIO EN LA LISTA DESPLEGABLE -->
                        <option value="4"
                            <%if (productToEdit.id_categorie==4){ %>
                            <%= "selected" %>
                            <% } %>
                        >Hoodies</option>

                        <!-- COMPARADOR PARA REALZIAR EL CAMBIO EN LA LISTA DESPLEGABLE -->
                        <option value="5"
                            <%if (productToEdit.id_categorie==5){ %>
                            <%= "selected" %>
                            <% } %>
                        >Hats</option>

                    </select>
                </div>
                <div class="col-12">
                    <label for="description" class="form-label">Descipción:</label>
                    <br>
                    <textarea  name="description" id="description" class="form-input"><%= productToEdit.description %>"</textarea>
                </div>
                <div class="col-12">
                    <label for="image" class="form-label">Imagen:</label>
                    <input type="file" name="image" id="image" class="form-input">
                </div>
                <div class="col-12">
                    <button type="submit" class="">Save product</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>