<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>

<!--inicio de header LOGO HAPPY CODING-->

<%- include('partials/header.ejs') %>

<!-- BOTONES -->


<div class="MargenHoodies2">

    <div class="camisaCompra1" id="camisaCompra1">
        <div  class="contedorCamisa1">
            <img src="/images/products/<%= product.image %>" alt="" class="imgCamisa1">
        </div>
        <br>
        <div class="descripcion"><%= product.description%></div>
        <br>
            <div class="precio-carrito">
                <p class="price">$<%= product.price%></p>
                <div class="agregarCarro">

                    <button class="button" id="<%=product.id %>">
                        <span id="<%=product.id %>">Add to cart</span>
                        <div class="cart" id="<%=product.id %>">
                            <svg viewBox="0 0 36 26">
                                <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                                <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                            </svg>
                        </div>
                    </button>
                    <!-- <input type="number" class="cantidad"> -->

                    <input type="number" name="nombre" class="cantidadProductoDetalle" value="1"/>
                    <p id="valores"></p>


                    <% if(locals.username != undefined && locals.admin ==true ){ %>
                    <a href="/product/edit/<%= product.id %>" class="edit-button">Edit</a>
                    <form action="/product/delete/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                        <button type="submit" class="delet-button">Delet</button>
                    </form>
                    <%} %>
                </div>
        </div>
    </div>
</div>



<!--  -->
<script>
    document.querySelectorAll('.button').forEach(button => button.addEventListener('click', e => {
    if(!button.classList.contains('loading')) {
        button.classList.add('loading');
        setTimeout(() => button.classList.remove('loading'), 3700)
    }
    e.preventDefault();
}));

</script>


</body>
<script type="text/javascript" src="/js/car.js"></script>
</html>